// ESTILOS GENERALES

$Fondo: #0D192C;
$ColorCard: #15263F;
$ColorTexto: #8BACD9;
$ColorTitulo: #FFFFFF;
$Hover: #00FFF8;

// FUENTES

$Fuente: "Outfit", system-ui;


// MEDIA QUERYS

$telefono: 480px;
$tablet: 768px;